@import "compass/reset";
@import "compass/layout";
@import "compass/css3";
@import "components/setup";


/* GLOBAL
-------------------------------------------- */ 
html {
    position: relative;
    overflow-x: hidden;

    &.mobile-menu-show {
		height: 100vh;
		overflow: hidden;
	}
}

body {
    overflow-x: hidden;
}

body, input, textarea, select, button, a {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}

* {
	-webkit-overflow-scrolling: touch;
}

*::selection {
    background-color: $primary;
}



/* HEADER
-------------------------------------------- */
.menu-nav {
	ul {
		margin-bottom: 0;

		&.menu-nav-list {
			li {
				@extend .txt-uppercase;
				padding: 0 25px;
				display: inline-block;
				vertical-align: middle;

				a {
					letter-spacing: 1.5px;
					display: inline-block;
					padding: 1px 0;
					border-bottom: 2px solid transparent;

					&.active {
						pointer-events: none;
						font-weight: 600;
						border-color: $teal;
					}
				}
			}
		}

		&.header-connect-social {
			padding: 0 20px;
			margin-top: 3rem;

			li + li {
				margin-left: 5px;
			}
		}
	}

	@media (max-width: $device-xl - 1px) {
		ul {
			&.menu-nav-list {
				li {
					padding: 0 8px;

					a {
						font-size: 14px;
					}
				}
			}
		}

	}

	@media (max-width: $device-lg - 1px) {
		position: fixed;
		z-index: -1;
		background-color: #fff;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;

		ul {
			text-align: center;

			li {
				position: relative;
				opacity: 0;
				@include transform(translateY(30px));

				&.shown {
					opacity: 1;
					@include transform(translateY(0));
					@include transition(transform 600ms cubic-bezier(.23,1,.32,1) 0s, opacity 600ms cubic-bezier(.23,1,.32,1) 0s);
				}
			}

			&.menu-nav-list {
				li {
					position: relative;
					padding: 0 20px;
					display: block;

					a {
						padding: 0.5rem 0;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

#header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	@include transition(all 200ms linear);

	.header--inner {
		padding: 1.2rem 0;
	}

	.logo-holder {
		height: 20px;
		overflow: hidden;
		position: relative;
		width: 100%;

		a {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&.header-off {
		@include transform(translateY(-100%));
	}

	&.header-invert {
		background-color: #fff;

		-webkit-box-shadow: 0px 5px 33px -4px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 5px 33px -4px rgba(0,0,0,0.25);
		box-shadow: 0px 5px 33px -4px rgba(0,0,0,0.25);

		
		.logo-holder {
			a {
				top: auto;
				bottom: 0;
			}
		}

		.burger-menu span {
			background-color: #303030;
		}
	}

	@media (min-width: $device-lg) {
		#menu-nav {
			display: none;
		}

		&.header-invert {
			#menu-nav {
				display: block;
			}
		}
	}
}



/* FOOTER
-------------------------------------------- */
#footer {
	border-top: 1px solid $border-color;
	padding-top: 4rem;
	padding-bottom: 4rem;

	.footer-main-sitemap,
	.footer-connect-contact {
		@extend .no-margin;

		li {
			@extend .small;
			@extend .txt-uppercase;
		}
	}

	.footer-main {
		.footer-main-contact {
			@extend .txt-uppercase;
			@extend .ls-lg;

			margin-bottom: 1.5rem;

			@media (min-width: $device-lg) {
				margin-bottom: 2.85rem;
			}

			a {
				color: $teal;
			}
		}

		.footer-main-sitemap {
			li {
				@extend .ls-md;
				@extend .d-md-inline-block;

				line-height: 3;

				@media (min-width: $device-md) {
					& + li {
						margin-left: 2rem;
					}
				}
			}
		}
	}

	.footer-connect {
		.footer-connect-contact {
			li {
				i {
					font-size: 1rem;
					margin-right: 5px;
				}
			}
		}
	}

	@media (max-width: $device-lg - 1px) {
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;

		.footer-main {
			margin-bottom: 3rem;
		}
	}
}




/* CONTENT
-------------------------------------------- */
section#hero {
	position: relative;

	.menu-nav {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 1.5rem 0;
		text-align: center;
		background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 60%);

		.menu-nav-list {
			li {
				color: #fff;
			}
		}
	}

	.section--inner {
		position: relative;
		overflow: hidden;

		@include transform-style(preserve-3d);

		&:after {
			content: " ";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;

			background-position: 75% 50%;
	        background-attachment: fixed;
	        background-size: cover;
	        background-repeat: no-repeat;
	        background-image: url('./img/hero-dummy.jpg');

			@include transform-origin(100%, 100%);
	        @include transform(translateZ(-20px) scale(1.05));
		}

		.hero-title {
			@extend .pos-abs;
			@extend .abs-center;
			@extend .text-center;
			@extend .txt-uppercase;

			padding: 1rem;

			p {
				@extend .h2;
				@extend .no-margin;
				@extend .fw-300;
				@extend .ls-lg;

				color: #fff;
				line-height: 1.1;

			}
		}
	}
}

section#intro {
	p.lead {
		@extend .fw-300;

		color: #666;
		max-width: 700px;
		margin: auto;

		@media (max-width: $device-md - 1px) {
			font-size: 1.25rem;
			max-width: none;
		}
	}
}

section#ideology {

	.accent_wrapper {

		.svg-circle-large {
			top: 0;
			left: 20%;
			z-index: 2;
		}

		.svg-diagonal-line {
			top: 0;
			left: 20%;
		}

		.svg-circle-small {
			top: 10%;
			right: 10%;
		}

		.svg-plus {
			bottom: 15%;
			left: 20%;
		}
	}

	.row {
		margin-left: 0;
		margin-right: 0;

		> * {
			padding-left: 0;
			padding-right: 0;
		}

		.section-head {
			padding-left: 15px;
			padding-right: 15px;
		}

		.section-content {
			position: relative;

			figure {
				margin-bottom: 0;
				position: relative;
				mix-blend-mode: multiply;

				img {
					display: block;
					width: 100%;
				}

				figcaption {
					position: absolute;
					bottom: 0;
					right: 0;
					padding: 1rem;
					max-width: 50%;

					p {
						font-size: 1.4rem;
						font-weight: 600;
						line-height: 1.3;
						margin-bottom: 0;

						@media (min-width: $device-xl) {
							font-size: 1.875rem;
						}
					}
				}
			}

			.accent {
				position: absolute;
				z-index: -1;
				display: block;
				top: 0;
				left: 0;
				width: 85%;

				&:after {
					content: "";
					display: block;
					width: 100%;
					padding-bottom: 90%;
					background-color: $teal;
					opacity: 0;
					@include transform(translateY(40px));
				}
			}

			&.in-view {
				figure {
					figcaption {
						opacity: 1;
						@include transform(translateY(0));
						@include transition(transform 700ms cubic-bezier(.23,1,.32,1) 200ms, opacity 700ms cubic-bezier(.23,1,.32,1) 200ms);
					}
				}

				.accent {
					&:after {
						opacity: 1;
						@include transform(translateY(-20%));
						@include transition(transform 700ms cubic-bezier(.23,1,.32,1) 200ms, opacity 700ms cubic-bezier(.23,1,.32,1) 200ms);
					}
				}
			}
		}
	}
}

section#team {

	.accent_wrapper {
		.svg-circle-small {
			top: 25%;
			left: 10%;
		}

		.svg-diagonal-line {
			top: 105%;
			left: 24%;
		}

		.svg-triangle {
			top: 20%;
			right: 20%;
			@include transform(rotate(-30deg));
		}

		@media (max-width: $device-xxl - 1px) {
			.svg-diagonal-line {
				left: 12%;
			}
		}

		@media (max-width: $device-lg - 1px) {
			.svg-circle-small {
				top: 11%;
				left: 3%;
			}

			.svg-diagonal-line {
				left: 2%;
			}
		}

		@media (max-width: $device-md - 1px) {
			.svg-circle-small {
				top: 15%;
				left: 7%;
			}

			.svg-diagonal-line {
				left: 0;
			}

			.svg-triangle {
				top: 25%;
				right: 10%;
			}
		}
	}

	.section-content {
		&.in-view {
			[class*="col-"] {
				&:nth-of-type(2){
					@include transition(transform 1400ms cubic-bezier(.23,1,.32,1) 600ms, opacity 1400ms cubic-bezier(.23,1,.32,1) 600ms);
				}

				&:nth-of-type(3){
					@include transition(transform 1400ms cubic-bezier(.23,1,.32,1) 900ms, opacity 1400ms cubic-bezier(.23,1,.32,1) 900ms);
				}
			}
		}
	}
}

section#works {

	.accent_wrapper {

		.svg-triangle-stroke {
			top: 40%;
			left: 20%;
			@include transform(rotate(-30deg));
		}

		.svg-plus {
			top: 5%;
			right: 25%;
		}
	}

	.section-content {
		.slider {
			opacity: 0;

			.owl-item {
				opacity: 0.3;
				pointer-events: none;

				&.active {
					opacity: 1;
					pointer-events: auto;
				}
			}

			.owl-nav {
			    position: absolute;
			    top: 50%;
			    left: 0;
			    width: 100%;
			    font-size: 20px;

			    > * {
			        position: absolute;
			        background-color: transparent;
			        outline: 0 !important;
			        @include transform(translateY(-50%));

			        .s_nav {
			        	display: block;
			        	padding: 10px;
			        	border: 1px solid $gray-700;
			        	border-radius: 50%;

			        	i {
			        		font-size: 24px;

			        		&:before {
			        			display: block;
			        		}
			        	}
			        }

			        &.disabled {
			            opacity: 0.3;
			        }

			        &.owl-prev {
			            left: 40px;
			        }

			        &.owl-next {
			            right: 40px;
			        }

			        &.light-nav {
			            color: #fff !important;
			        }

			        &.dark-nav {
			            color: $gray-700 !important;
			        }

			        @media (max-width: $device-xl - 1px) {
			        	.s_nav {
			        		i {
			        			font-size: 18px;
			        		}
			        	}

			        	&.owl-prev {
				            left: 20px;
				        }

				        &.owl-next {
				            right: 20px;
				        }
			        }

			        @media (max-width: $device-md - 1px) {
			        	.s_nav {
			        		i {
			        			font-size: 16px;
			        		}
			        	}

			        	&.owl-prev {
				            left: 5px;
				        }

				        &.owl-next {
				            right: 5px;
				        }
			        }
			    }
			}
		}

		&.in-view {
			.slider {
				opacity: 1;
				@include transition(opacity 1400ms cubic-bezier(.23,1,.32,1) 400ms);
			}
		}
	}
}


























