<footer id="footer">
	<div class="footer--inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="footer-main">
						<h6 class="footer-main-contact">Have a project? Call us <a href="#">1.800.987.6321</a></h6>

						<ul class="footer-main-sitemap">
							<li><a href="#">Home</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">What we Do</a></li>
							<li><a href="#">Meet the Team</a></li>
							<li><a href="#">Our Work</a></li>
							<li><a href="#">Get in Touch</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-6 offset-md-3 col-lg-3 offset-lg-0">
					<div class="footer-connect">
						<ul class="footer-connect-social">
							<li><a href="#"><i class="icon-facebook-circled"></i></a></li>
							<li><a href="#"><i class="icon-instagram-circled"></i></a></li>
							<li><a href="#"><i class="icon-linkedin-circled"></i></a></li>
							<li><a href="#"><i class="icon-gplus-circled"></i></a></li>
							<li><a href="#"><i class="icon-twitter-circled"></i></a></li>
							<li><a href="#"><i class="icon-dribbble-circled"></i></a></li>
						</ul>

						<ul class="footer-connect-contact">
							<li><a href="#"><i class="icon-phone"></i>Call Now: 0800 456 789</a></li>
							<li><a href="#"><i class="icon-mail"></i>Mail: info@unity.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
