<header id="header">
	<div class="header--inner">
		<div class="container">
			<div class="row">
				<div class="col-6 col-md-3 col-xl-2 flexed">
					<div class="logo-holder">
						<a href="#" class="d-block">
							<img class="img-fluid" src="assets/img/logo.png" alt="unity" />
						</a>
					</div>
				</div>

				<div class="col-6 col-md-9 col-xl-10">
					<div class="nav-control-mobile d-lg-none flexed halign-right">
						<button type="button" id="menu-mobile-btn" class="burger-menu">
							<span></span>
							<span></span>
							<span></span>
						</button>
					</div>

					<nav id="menu-nav" class="menu-nav">
						<ul class="menu-nav-list">
							<li><a href="#" class="active">Home</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">What We do</a></li>
							<li><a href="#">Meet the Team</a></li>
							<li><a href="#">Our Work</a></li>
							<li><a href="#">Get in Touch</a></li>
						</ul>

						<ul class="header-connect-social list-social d-lg-none">
							<li><a href="#"><i class="icon-facebook-circled"></i></a></li>
							<li><a href="#"><i class="icon-instagram-circled"></i></a></li>
							<li><a href="#"><i class="icon-linkedin-circled"></i></a></li>
							<li><a href="#"><i class="icon-gplus-circled"></i></a></li>
							<li><a href="#"><i class="icon-twitter-circled"></i></a></li>
							<li><a href="#"><i class="icon-dribbble-circled"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
