<section id="team" class="has-ver-padding">
    

    <div class="section--inner has-ver-padding">
        <div class="section-head has-ver-padding reveal-js">
            <div class="accent_wrapper">
                <span class="svg-holder svg-diagonal-line">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#diagonal-line"></use></svg>
                </span>

                <span class="svg-holder svg-circle-small">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#circle-small"></use></svg>
                </span>

                <span class="svg-holder svg-triangle">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#triangle"></use></svg>
                </span>
            </div>
            
            <div class="container narrow-width">
                <h6 class="section-sub has-animate">Meet the team</h6>
                <p class="section-title">
                    <span class="has-animate">We're a small team</span>
                    <span class="has-animate">but have a ton of experiences</span>
                </p>
            </div>
        </div>
        
        <div id="team-list" class="section-content has-ver-padding reveal-js">
            <div class="container narrow-width">
                <div class="row">
                    <div class="col-md-4 has-animate" v-for="(data,index) in teamList">
                        <div class="team-thumb">
                            <div class="team-thumb-link">
                                <figure class="team-thumb-image">
                                    <a href="#">
                                        <img v-bind:src="'/assets/img/' + data.avatar" />
                                    </a>
                                </figure>

                                <figcaption class="team-thumb-detail">
                                    <a href="#">
                                        <p class="ttd-name">{{data.name}}</p>
                                        <p class="ttd-position">{{data.position}}</p>
                                    </a>

                                    <ul class="ttd-social-list">
                                        <li v-for="socials in data.socials">
                                            <a href="#">
                                                <i v-bind:class="['icon-' + socials]"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>