<div class="work-item">
    <a href="#">
    	<figure class="no-margin">
	        @@if( img === 'img1' ){
	        	<img src="assets/img/slider-dummy-1.jpg">
	        }

        	@@if( img === 'img2' ){
	        	<img src="assets/img/slider-dummy-2.jpg">
	        }

	        @@if( img === 'img3' ){
	        	<img src="assets/img/slider-dummy-3.jpg">
	        }

	        @@if( img === 'img4' ){
	        	<img src="assets/img/slider-dummy-4.jpg">
	        }
	    </figure>

	    <figcaption class="work-caption pos-abs abs-full no-click">
	    	<div class="work-caption_wrapper">
	    		<p class="work-caption-title">Apex Magazine June Issue</p>
	    		<p class="work-caption-author">by Fabrizio Morra</p>
	    	</div>
	    </figcaption>
    </a>
</div>