<!DOCTYPE html>


<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mirum</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">


    <meta property="og:url" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <link rel="canonical" href="" />

    <link rel="icon" type="image/png" href="assets/icon/icon.png">

    <link rel="icon" type="image/png" href="assets/icon/icon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/icon/icon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/icon/icon-96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/icon/icon-192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/icon/icon-194.png" sizes="194x194">
    
    <link rel="apple-touch-icon" href="assets/icon/icon-57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="assets/icon/icon-60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="assets/icon/icon-72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="assets/icon/icon-76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="assets/icon/icon-114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="assets/icon/icon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="assets/icon/icon-144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="assets/icon/icon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="assets/icon/icon-180.png" sizes="180x180">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    
    <script src="assets/script.js"></script>
    <link rel="stylesheet" href="assets/style.css">
</head>

<svg xmlns="http://www.w3.org/2000/svg" style="top: -99999px; left: -99999px; position: absolute;">
	

	<symbol id="plus" viewBox="0 0 30 30">
		<polygon fill="#E98457" points="30,12.5 17.5,12.5 17.5,0 12.5,0 12.5,12.5 0,12.5 0,17.5 12.5,17.5 12.5,30 17.5,30 17.5,17.5 
		30,17.5 "/>
	</symbol>

	<symbol id="circle-small" viewBox="0 0 30 30">
		<path fill="#E98457" d="M15,4c6.1,0,11,4.9,11,11s-4.9,11-11,11S4,21.1,4,15S8.9,4,15,4 M15,0C6.7,0,0,6.7,0,15s6.7,15,15,15
		s15-6.7,15-15S23.3,0,15,0L15,0z"/>
	</symbol>

	<symbol id="circle-large" viewBox="0 0 30 30">
		<g>
			<circle fill="#FFFFFF" cx="15" cy="15" r="15"/>
			<path fill="#EAEAEA" d="M15,4c6.1,0,11,4.9,11,11s-4.9,11-11,11S4,21.1,4,15S8.9,4,15,4 M15,0C6.7,0,0,6.7,0,15s6.7,15,15,15
				s15-6.7,15-15S23.3,0,15,0L15,0z"/>
		</g>
	</symbol>

	<symbol id="triangle" viewBox="0 0 30 27.5">
		<polygon fill="#EAEAEA" points="15,0 30,27.5 0,27.5 "/>
	</symbol>

	<symbol id="triangle-stroke" viewBox="0 0 30 27.5">
		<path fill="#E98457" d="M15,8.354L23.262,23.5H6.738L15,8.354 M15,0L0,27.5h30L15,0L15,0z"/>
	</symbol>

	<symbol id="diagonal-line" viewBox="0 0 30 30">
		<rect x="14.5" y="-5.7" transform="matrix(0.7074 0.7069 -0.7069 0.7074 14.9926 -6.2134)" fill="#EAEAEA" width="0.5" height="41.4"/>
	</symbol>

</svg>

<body class="index">

<header id="header">
	<div class="header--inner">
		<div class="container">
			<div class="row">
				<div class="col-6 col-md-3 col-xl-2 flexed">
					<div class="logo-holder">
						<a href="#" class="d-block">
							<img class="img-fluid" src="assets/img/logo.png" alt="unity" />
						</a>
					</div>
				</div>

				<div class="col-6 col-md-9 col-xl-10">
					<div class="nav-control-mobile d-lg-none flexed halign-right">
						<button type="button" id="menu-mobile-btn" class="burger-menu">
							<span></span>
							<span></span>
							<span></span>
						</button>
					</div>

					<nav id="menu-nav" class="menu-nav">
						<ul class="menu-nav-list">
							<li><a href="#" class="active">Home</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">What We do</a></li>
							<li><a href="#">Meet the Team</a></li>
							<li><a href="#">Our Work</a></li>
							<li><a href="#">Get in Touch</a></li>
						</ul>

						<ul class="header-connect-social list-social d-lg-none">
							<li><a href="#"><i class="icon-facebook-circled"></i></a></li>
							<li><a href="#"><i class="icon-instagram-circled"></i></a></li>
							<li><a href="#"><i class="icon-linkedin-circled"></i></a></li>
							<li><a href="#"><i class="icon-gplus-circled"></i></a></li>
							<li><a href="#"><i class="icon-twitter-circled"></i></a></li>
							<li><a href="#"><i class="icon-dribbble-circled"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>


<main>

    <section id="hero">
	<div class="section--inner fheight">
		<div class="hero-title">
			<p>Great Experiences build great brands.</p>
		</div>
	</div>
</section>

    <section id="intro" class="has-ver-padding text-center">
	<div class="section--inner has-ver-padding">
		<div class="section-head has-ver-padding text-center reveal-js">
			<div class="container">
				<h6 class="section-sub has-animate">Digital Creatives</h6>
				<p class="lead has-animate">We quickly bring ideas to life with tangible prototypes, and refine until the very last moment in close collaboration with our clients.</p>
			</div>
		</div>
		
	</div>
</section>

    <section id="ideology" class="has-ver-padding">
	

	<div class="section--inner has-ver-padding">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0 order-lg-2 col-xl-7">
				<div class="section-head fheight has-ver-padding reveal-js">
					<div class="accent_wrapper">
						<span class="svg-holder svg-circle-large">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#circle-large"></use></svg>
						</span>

						<span class="svg-holder svg-diagonal-line">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#diagonal-line"></use></svg>
						</span>

						<span class="svg-holder svg-circle-small">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#circle-small"></use></svg>
						</span>

						<span class="svg-holder svg-plus">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#plus"></use></svg>
						</span>
					</div>

					<h6 class="section-sub has-animate">Our ideology</h6>
					<p class="section-title">
						<span class="has-animate">Learn > Experiment ></span>
						<span class="has-animate">Fail > Learn ></span>
						<span class="has-animate">Experiment > <i style="color: #e98457;">Win</i></span>
					</p>
				</div>
			</div>

			<div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 order-lg-1 col-xl-5">
				<div class="section-content has-ver-padding reveal-js">
					<figure>
						<img src="assets/img/img-dummy-1.jpg">

						<figcaption class="has-animate">
							<p>Ideas are easy to come by. Execution is really, really hard.</p>
						</figcaption>
					</figure>

					<span class="accent"></span>
				</div>
			</div>
		</div>
	</div>
</section>

    <section id="team" class="has-ver-padding">
    

    <div class="section--inner has-ver-padding">
        <div class="section-head has-ver-padding reveal-js">
            <div class="accent_wrapper">
                <span class="svg-holder svg-diagonal-line">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#diagonal-line"></use></svg>
                </span>

                <span class="svg-holder svg-circle-small">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#circle-small"></use></svg>
                </span>

                <span class="svg-holder svg-triangle">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#triangle"></use></svg>
                </span>
            </div>
            
            <div class="container narrow-width">
                <h6 class="section-sub has-animate">Meet the team</h6>
                <p class="section-title">
                    <span class="has-animate">We're a small team</span>
                    <span class="has-animate">but have a ton of experiences</span>
                </p>
            </div>
        </div>
        
        <div id="team-list" class="section-content has-ver-padding reveal-js">
            <div class="container narrow-width">
                <div class="row">
                    <div class="col-md-4 has-animate" v-for="(data,index) in teamList">
                        <div class="team-thumb">
                            <div class="team-thumb-link">
                                <figure class="team-thumb-image">
                                    <a href="#">
                                        <img v-bind:src="'/assets/img/' + data.avatar" />
                                    </a>
                                </figure>

                                <figcaption class="team-thumb-detail">
                                    <a href="#">
                                        <p class="ttd-name">{{data.name}}</p>
                                        <p class="ttd-position">{{data.position}}</p>
                                    </a>

                                    <ul class="ttd-social-list">
                                        <li v-for="socials in data.socials">
                                            <a href="#">
                                                <i v-bind:class="['icon-' + socials]"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section id="works" class="has-ver-padding">
	

	<div class="section--inner has-ver-padding">
		<div class="section-head has-ver-padding text-center reveal-js">
			<div class="accent_wrapper">
				<span class="svg-holder svg-triangle-stroke">
					<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#triangle-stroke"></use></svg>
				</span>

				<span class="svg-holder svg-plus">
					<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#plus"></use></svg>
				</span>
			</div>
			
			<div class="container">
				<h6 class="section-sub has-animate">Our featured works</h6>
				<p class="section-title">
					<span class="has-animate">We create engaging</span>
					<span class="has-animate">experiences through</span>
					<span class="has-animate">creativity &amp; craft</span>
				</p>
			</div>
			
		</div>

		<div class="section-content has-ver-padding reveal-js">
			<div class="owl-carousel slider"
             data-sm="2"
             data-md="3"
             data-lg="3"
             data-margin="20"
             data-center="false"
             data-stagepadding="150"
             data-autoplay="false"
             data-speed="800"
             data-timeout="7000"
             data-loop="false"
             data-nav="true"
             data-navskin="dark"
             data-dots="false" >
                <div class="work-item">
    <a href="#">
    	<figure class="no-margin">
	        
	        	<img src="assets/img/slider-dummy-1.jpg">
	        

        	

	        

	        
	    </figure>

	    <figcaption class="work-caption pos-abs abs-full no-click">
	    	<div class="work-caption_wrapper">
	    		<p class="work-caption-title">Apex Magazine June Issue</p>
	    		<p class="work-caption-author">by Fabrizio Morra</p>
	    	</div>
	    </figcaption>
    </a>
</div>

	            <div class="work-item">
    <a href="#">
    	<figure class="no-margin">
	        

        	
	        	<img src="assets/img/slider-dummy-2.jpg">
	        

	        

	        
	    </figure>

	    <figcaption class="work-caption pos-abs abs-full no-click">
	    	<div class="work-caption_wrapper">
	    		<p class="work-caption-title">Apex Magazine June Issue</p>
	    		<p class="work-caption-author">by Fabrizio Morra</p>
	    	</div>
	    </figcaption>
    </a>
</div>

	            <div class="work-item">
    <a href="#">
    	<figure class="no-margin">
	        

        	

	        
	        	<img src="assets/img/slider-dummy-3.jpg">
	        

	        
	    </figure>

	    <figcaption class="work-caption pos-abs abs-full no-click">
	    	<div class="work-caption_wrapper">
	    		<p class="work-caption-title">Apex Magazine June Issue</p>
	    		<p class="work-caption-author">by Fabrizio Morra</p>
	    	</div>
	    </figcaption>
    </a>
</div>

	            <div class="work-item">
    <a href="#">
    	<figure class="no-margin">
	        

        	

	        

	        
	        	<img src="assets/img/slider-dummy-4.jpg">
	        
	    </figure>

	    <figcaption class="work-caption pos-abs abs-full no-click">
	    	<div class="work-caption_wrapper">
	    		<p class="work-caption-title">Apex Magazine June Issue</p>
	    		<p class="work-caption-author">by Fabrizio Morra</p>
	    	</div>
	    </figcaption>
    </a>
</div>

	            <div class="work-item">
    <a href="#">
    	<figure class="no-margin">
	        
	        	<img src="assets/img/slider-dummy-1.jpg">
	        

        	

	        

	        
	    </figure>

	    <figcaption class="work-caption pos-abs abs-full no-click">
	    	<div class="work-caption_wrapper">
	    		<p class="work-caption-title">Apex Magazine June Issue</p>
	    		<p class="work-caption-author">by Fabrizio Morra</p>
	    	</div>
	    </figcaption>
    </a>
</div>

	            <div class="work-item">
    <a href="#">
    	<figure class="no-margin">
	        

        	
	        	<img src="assets/img/slider-dummy-2.jpg">
	        

	        

	        
	    </figure>

	    <figcaption class="work-caption pos-abs abs-full no-click">
	    	<div class="work-caption_wrapper">
	    		<p class="work-caption-title">Apex Magazine June Issue</p>
	    		<p class="work-caption-author">by Fabrizio Morra</p>
	    	</div>
	    </figcaption>
    </a>
</div>
            </div>
		</div>
	</div>
</section>
    
</main>

<footer id="footer">
	<div class="footer--inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="footer-main">
						<h6 class="footer-main-contact">Have a project? Call us <a href="#">1.800.987.6321</a></h6>

						<ul class="footer-main-sitemap">
							<li><a href="#">Home</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">What we Do</a></li>
							<li><a href="#">Meet the Team</a></li>
							<li><a href="#">Our Work</a></li>
							<li><a href="#">Get in Touch</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-6 offset-md-3 col-lg-3 offset-lg-0">
					<div class="footer-connect">
						<ul class="footer-connect-social list-social">
							<li><a href="#"><i class="icon-facebook-circled"></i></a></li>
							<li><a href="#"><i class="icon-instagram-circled"></i></a></li>
							<li><a href="#"><i class="icon-linkedin-circled"></i></a></li>
							<li><a href="#"><i class="icon-gplus-circled"></i></a></li>
							<li><a href="#"><i class="icon-twitter-circled"></i></a></li>
							<li><a href="#"><i class="icon-dribbble-circled"></i></a></li>
						</ul>

						<ul class="footer-connect-contact">
							<li><a href="#"><i class="icon-phone"></i>Call Now: 0800 456 789</a></li>
							<li><a href="#"><i class="icon-mail"></i>Mail: info@unity.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>


<script>
    var team = new Vue({
        el: '#team-list',
        data: {
            teamList: []
        },

        mounted: function () {
            this.$nextTick(function () {
                $.get('./assets/team-list.json', function(resp){
                    _.forEach(resp.teamList, function(value) {
                        team.teamList.push(value)
                    });

                }, 'json')
            })
        }
    });
</script>

</body>
</html>
